.account {
  padding: 16px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.account-profile {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 16px;
  align-items: center;
  justify-items: center;
}
.account-profile img {
  width: 100%;
  border-radius: 100%;
}
.account-profile .name {
  font-size: 1.5rem;
} 
.account-profile div.details {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  align-items: center;
  justify-items: center;
}
.account-profile div.details > .detail {
  font-size: 1rem;
  text-align: center;
  color: #666;
}
.account-profile div.details > .detail > :last-child {
  font-size: 0.7rem;
}

.account fast-menu {
  margin-left: -16px;
  margin-right: -16px;
  max-width: none;
  --corner-radius: 0;
  --elevation: 8;
  margin-top: 32px;
  margin-bottom: 32px;
}

.account fast-menu-item {
  border-bottom: 1px solid var(--separator-color);
  --corner-radius: 0;
}
.account fast-menu-item:last-of-type {
  border-bottom: none;
}
