.activities activity-preview {
  border-top: 1px solid var(--separator-color);
  padding-top: 16px;
  margin-bottom: 16px;
  display: block;
}
.activities activity-preview:first-of-type {
  border-top: none;
}
.activities--loading {
  display: flex;
  min-height: 500px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: var(--meta-content-color);
  font-family: var(--interface-font);
}
