.topic-detail .head {
  height: calc(100vw * 1.2);
  border-bottom-left-radius: calc(var(--corner-radius) * 2px);
  border-bottom-right-radius: calc(var(--corner-radius) * 2px);
}

.topic-detail .head img,
.topic-detail .head .placeholder {
  width: 100%;
  height: calc(100vw * 1.2);
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.5);
}

.topic-detail .content {
  padding: 16px;
  /* min-height: 2000px; */
}

.topic-detail__meta {
  color: var(--content-meta-color);
  font-size: 14px;
}

.topic-detail .content h2,
.topic-detail .content p {
  text-align: center;
}