/*
#4633AF
#00C9DB
*/

* {
  box-sizing: border-box;
  --gradient: linear-gradient(135deg, rgba(70,51,175,1) 0%, rgba(0,201,219,1) 100%);
  --elevation0: 0 0 3px rgba(0,0,0,0.3), 0 1px 1px rgba(0,0,0,0.12);
  --elevation1: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  --elevation2: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  --elevation3: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  --elevation4: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  --elevation5: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.gradient {
  background: var(--gradient);
}

html, body {
  overflow: hidden;
  position: fixed;
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
}
a,
a:visited,
a:hover,
a:active {
  background: transparent;
  color: var(--neutral-foreground-hint);
  color: var(--neutral-foreground-rest);
  text-decoration: none;
}

form {
  display: grid;
  grid-auto-rows: max-content;
  gap: 20px;
}
form label {
  color: var(--accent-fill-rest);
  font-family: 'Montserrat', sans-serif;
  --body-font: 'Montserrat', sans-serif;
  display: block;
  cursor: pointer;
  font-size: var(--type-ramp-base-font-size);
  line-height: var(--type-ramp-base-line-height);
  margin-bottom: 4px;
}
.button-row__two {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: center;
}
.button-row__two--small-left {
  grid-template-columns: auto 1fr;
}
.button-row__two--small-right {
  grid-template-columns: 1fr auto;
}
.button-row__two--centered {
  justify-items: center;
}



.head.on-image pray-icon::part(svg) {
  -webkit-filter: drop-shadow( 1px 1px 3px rgba(0, 0, 0, .8));
  filter: drop-shadow( 1px 1px 3px rgba(0, 0, 0, .8));
}


#reset {
  position: fixed;
  top: 4px;
  left: 150px;
  z-index: 10;
  opacity: 0.3;
}
.searchbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-items: space-between;
  margin-bottom: 8px;
}
.searchbar pray-search-input {
  width: 100%;
  display: flex;
  margin-right: 16px;
}
.searchbar fast-button {
  flex-shrink: 0;
}
.user-list > * {
  width: 100%;
}
.user-list-item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  height: 45px;
  align-items: center;
}
.user-list-item fast-progress-ring {
  margin: 0;
  width: 20px;
  height: 20px;
}

fast-badge {
  --badge-fill-primary: var(--accent-color);
  --badge-fill-secondary: var(--meta-content-color);
  --badge-fill-transparent: transparent;
  --badge-color-black: #000000;
  --badge-color-white: #FFFFFF;
}

/* fix fast-button start/end mis-align */
fast-button::part(start),
fast-button::part(end) {
  width: auto;
  height: auto;
}
/* full-width buttons */
fast-button.full-width {
  width: 100%;
}
fast-button.full-width::part(control) {
  width: 100%;
  justify-content: start;
}
fast-button.full-width::part(end) {
  margin-left: auto;
  margin-right: 8px;
}