/*
#4633AF
#00C9DB
*/

* {
  box-sizing: border-box;
  --gradient: linear-gradient(135deg, rgba(70,51,175,1) 0%, rgba(0,201,219,1) 100%);
  --elevation0: 0 0 3px rgba(0,0,0,0.3), 0 1px 1px rgba(0,0,0,0.12);
  --elevation1: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  --elevation2: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  --elevation3: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  --elevation4: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  --elevation5: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.gradient {
  background: var(--gradient);
}

html, body {
  overflow: hidden;
  position: fixed;
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
}
a,
a:visited,
a:hover,
a:active {
  background: transparent;
  color: var(--neutral-foreground-hint);
  color: var(--neutral-foreground-rest);
  text-decoration: none;
}

form {
  display: grid;
  grid-auto-rows: max-content;
  gap: 20px;
}
form label {
  color: var(--neutral-foreground-rest);
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  --body-font: 'Montserrat', sans-serif;
  display: block;
  cursor: pointer;
  font-size: var(--type-ramp-minus-1-font-size);
  line-height: var(--type-ramp-minus-1-line-height);
  letter-spacing: 0.8px;
  margin-bottom: 4px;
}
.button-row__two {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: center;
}
.button-row__two--small-left {
  grid-template-columns: auto 1fr;
}
.button-row__two--small-right {
  grid-template-columns: 1fr auto;
}
.button-row__two--centered {
  justify-items: center;
}



.head.on-image pray-icon::part(svg) {
  -webkit-filter: drop-shadow( 1px 1px 3px rgba(0, 0, 0, .8));
  filter: drop-shadow( 1px 1px 3px rgba(0, 0, 0, .8));
}


#reset {
  position: fixed;
  top: 4px;
  left: 150px;
  z-index: 10;
  opacity: 0.3;
}
.searchbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-items: space-between;
  margin-bottom: 8px;
}
.searchbar pray-search-input {
  width: 100%;
  display: flex;
  margin-right: 16px;
}
.searchbar fast-button {
  flex-shrink: 0;
}
.user-list > * {
  width: 100%;
}
.user-list-item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--separator-color);
  height: 45px;
  align-items: center;
  --design-unit: 3;
}
.user-list-item fast-progress-ring {
  margin: 0;
  width: 20px;
  height: 20px;
}

fast-button fast-progress-ring {
  margin: 0;
  width: 20px;
  height: 20px;
}

fast-badge {
  --badge-fill-primary: var(--accent-color);
  --badge-fill-secondary: var(--meta-content-color);
  --badge-fill-transparent: transparent;
  --badge-color-black: #000000;
  --badge-color-white: #FFFFFF;
}
fast-menu-item fast-badge {
  transform: scale(0.8);
}

/* fix fast-button start/end mis-align */
fast-button::part(start),
fast-button::part(end) {
  width: auto;
  height: auto;
}
/* full-width buttons */
fast-button.full-width {
  width: 100%;
}
fast-button.full-width::part(control) {
  width: 100%;
  justify-content: start;
}
fast-button.full-width::part(end) {
  margin-left: auto;
  margin-right: 8px;
}
.help-text {
  text-align: center;
  margin: 0 32px;
  font-size: var(--type-ramp-plus-2-font-size);
  line-height: var(--type-ramp-plus-2-line-height);
}
@media (max-height: 600px) {
  .praying-help p.slogan {
    font-size: var(--type-ramp-plus-2-font-size);
    line-height: var(--type-ramp-plus-2-line-height);
    margin: 0;
  }
}

.praying-help__direction {
  margin: 16px;
  display: flex;
  flex-direction: column;
}
.praying-help__direction > pray-icon {
  margin: 8px;
  color: var(--accent-color);
}
.praying-help__left {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.animate__swipe-up {
	animation: animate__swipe-up 2s cubic-bezier(0.600, -0.280, 0.735, 0.045) infinite both;
}
 @keyframes animate__swipe-up {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-20px);
  }
  25% {
    transform: translateY(0px);
  }
}
.animate__swipe-left {
	animation: animate__swipe-left 2s cubic-bezier(0.600, -0.280, 0.735, 0.045) infinite both;
}
 @keyframes animate__swipe-left {
  30% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-20px);
  }
  55% {
    transform: translateX(0px);
  }
}
.animate__swipe-bottom {
	animation: animate__swipe-bottom 2s cubic-bezier(0.600, -0.280, 0.735, 0.045) infinite both;
}
 @keyframes animate__swipe-bottom {
  60% {
    transform: translateY(0);
  }
  80% {
    transform: translateY(20px);
  }
  85% {
    transform: translateY(00px);
  }
}

pray-notification:nth-of-type(2) {
  margin-top: 50px;
}
pray-notification:nth-of-type(3) {
  margin-top: 100px;
}
pray-notification:nth-of-type(4) {
  margin-top: 150px;
}
pray-notification:nth-of-type(5) {
  margin-top: 200px;
}


.switch-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--separator-color);
  padding: 8px 0px;
}
.switch-row:last-of-type {
  border-bottom: none;
}
