@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&family=Open+Sans:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=GFS+Neohellenic:ital,wght@1,700&display=swap&text=sunago');
body {
  font-family: var(--interface-font);
  --body-font: var(--interface-font);
  font-weight: 400;
}

.content {
  font-family: var(--content-font);
  font-weight: 400;
  --body-font: var(--content-font);
}

.content strong,
.content.strong,
.content .strong {
  font-weight: 600;
}

.light {
  font-weight: 100;
}