* {
  --body-color: #fff;
  --accent-color: #3AC3BD;
  --main-content-color: black;
  --meta-content-color: #666;
  --separator-color: #efefef;
  --topic-height: 85px;
  --topic-preview-width: calc(var(--topic-height) / 1.2);
  --interface-font: 'Montserrat', sans-serif; 
  --content-font: 'Open Sans', serif;
}