* {
  --body-color: #fff;
  --accent-color: #3AC3BD;
  --praying-body-color: var(--accent-color);
  --praying-accent-color: #16615F;
  --message-background-color: #efefef;
  --message-foreground-color: #000;
  --message-me-background-color: #B3E9E5;
  --message-me-foreground-color: #000;

  --praying-body-color: #16615F;
  --praying-accent-color: var(--accent-color);

  --main-content-color: black;
  --meta-content-color: #8A8A8E;
  --separator-color: #C9C9CB;
  --topic-height: 85px;
  --topic-preview-width: calc(var(--topic-height) / 1.2);
  --interface-font: 'Montserrat', sans-serif; 
  --content-font: 'Open Sans', serif;
}
