.activity-preview {
  contain: content;
  /* display: flex;    
  align-items: center;
  justify-content: space-between;
  height: var(--topic-height);
  border-radius: calc(var(--corner-radius) * 1px);
  overflow: hidden;  */
}
.activity-preview__main {
  display: flex;
  align-items: flex-start;
  justify-content: space-between; 
}
.activity-preview__avatar {
  flex-shrink: 0;
  flex-grow: 0;
}
.activity-preview__action {
  display: flex;
  width: 100%;
}
.activity-preview__name {
  margin-right: 8px;
}
.activity-preview__date {
  white-space: nowrap;
  overflow: hidden;
  color: #999;
  color: var(--meta-content-color);
  margin-left: auto;
  flex-shrink: 0;
  flex-grow: 0;
}
.activity-preview__meta {
  color: var(--meta-content-color);
}
