.activity-preview {
  contain: content;
  font-size: 14px;
}
.activity-preview__main {
  display: flex;
  align-items: flex-start;
  justify-content: space-between; 
}
.activity-preview__avatar {
  flex-shrink: 0;
  flex-grow: 0;
  margin-right: 8px;
}
.activity-preview__action {
  width: 100%;
}
.activity-preview__action .activity-preview__name,
.activity-preview__action .mini-user,
.activity-preview__action .mini-user__name {
  display: inline;
  font-weight: bold;
}
.activity-preview__date {
  margin-left: 16px;
  white-space: nowrap;
  overflow: hidden;
  color: #999;
  color: var(--meta-content-color);
  margin-left: auto;
  flex-shrink: 0;
  flex-grow: 0;
  font-size: 12px;
}
.activity-preview__meta {
  color: var(--meta-content-color);
  padding: 8px 0 0 40px;
  font-size: 12px;
}
.activity-preview__topic-name {
  cursor: pointer;
  color: var(--accent-color);
  font-weight: bold;
}
