avatar-selection {
  display: block;
  overflow: hidden;
}
.avatar-selection__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.avatar-selection__buttons > * {
  margin: 8px;
}
.avatar-selection {
  overflow-y: hidden;
  overflow-x: auto;
  white-space: nowrap;
  margin: 16px;
  padding: 2px;
}
.avatar-selection > span {
  display: inline-block;
} 
.avatar-selection > * {
  width: 54px;
  height: 54px;
  padding: 2px;
  border-radius: 50px;
  overflow: hidden;
  margin-right: 16px;
  cursor: pointer;
  opacity: 0.5;
}
.avatar-selection img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  overflow: hidden;
}
.avatar-selection > *:hover {
  box-shadow: 0 0 3px rgba(70,51,175,1);
  box-shadow: 0 0 3px var(--accent-color);
}
.avatar-selection > *.selected {
  opacity: 1;
  box-shadow: 0 0 3px rgba(70,51,175,1);
  box-shadow: 0 0 3px var(--accent-color);
}

.input-file-container {
  position: absolute;
  margin-left: -100%;
  display: none;
  opacity: 0;
}
