.topic-praying .head {
  height: calc(100vw * 1.2);
  border-bottom-left-radius: calc(var(--corner-radius) * 2px);
  border-bottom-right-radius: calc(var(--corner-radius) * 2px);
  box-shadow: var(--elevation2);
}

.topic-praying .head > img,
.topic-praying .head .placeholder {
  width: 100%;
  height: calc(100vw * 1.2);
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.5);
}

.topic-praying .content {
  padding: 16px;
  /* min-height: 2000px; */
}

.topic-praying__meta {
  color: var(--content-meta-color);
  font-size: 14px;
}

.topic-praying .content h2,
.topic-praying .content p {
  text-align: center;
}
.topic-praying__buttons {
  position: absolute;
  display:flex;
  flex-direction: column;
  align-items: center;
  transform: translateY(-70px);
  width: 100%;
}
.topic-praying__buttons > fast-button {
  min-width: 200px;
}




.praying-bottomview {
  position: absolute;
  bottom: 0; 
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  box-shadow: var(--elevation4);
  padding: 8px 16px;
  padding-bottom: calc(8px + constant(safe-area-inset-bottom));
  padding-bottom: calc(8px + env(safe-area-inset-bottom));
}

.praying-bottomview textarea {
  width: 100%;
  height: 35px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.2);
  outline: none;
  -webkit-appearance: none;
  border-radius: 20px;
  color: white;
  padding: 5px 15px;
  font-size: 16px;
  resize: none;
  font-family: var(--content-font);
  margin-right: 8px;
}