/***********************/
/*     10. Pricing     */
/***********************/
.cards-2 {
	padding-top: 3rem;
	padding-bottom: 2.75rem;
	text-align: center;
}

.cards-2 h2 {
	margin-bottom: 1rem;
}

.cards-2 .card {
	display: block;
	max-width: 19.5rem;
	margin-right: auto;
	margin-bottom: 6rem;
	margin-left: auto;
	border: 1px solid #c4d8dc;
	border-radius: 0.5rem;
	vertical-align: top;
}

.cards-2 .card .card-body {
	padding: 2.5rem 2.75rem 1.875rem 2.5rem;
}

.cards-2 .card .card-title {
	margin-bottom: 0.625rem;
	color: #393939;
	font-weight: 700;
	font-size: 1.75rem;
	line-height: 2.25rem;
	text-align: center;
}

.cards-2 .card .card-subtitle {
	margin-bottom: 1.75rem;
}

.cards-2 .card .cell-divide-hr {
	height: 1px;
	margin-top: 0;
	margin-bottom: 0;
	border: none;
	background-color: #c4d8dc;
}

.cards-2 .card .price {
	padding-top: 0.875rem;
	padding-bottom: 1.5rem;
}

.cards-2 .card .value {
	color: var(--accent);
	font-weight: 700;
	font-size: 3.5rem;
	line-height: 4rem;
	text-align: center;
}

.cards-2 .card .currency {
	margin-right: 0.375rem;
	color: var(--accent);
	font-size: 1.5rem;
	vertical-align: 56%;
}

.cards-2 .card .frequency {
	margin-top: 0.25rem;
	font-size: 0.875rem;
	text-align: center;
}

.cards-2 .card .list-unstyled {
	margin-top: 1.875rem;
	margin-bottom: 1.625rem;
	text-align: left;
}

.cards-2 .card .list-unstyled.li-space-lg li {
	margin-bottom: 0.5rem;
}

.cards-2 .card .list-unstyled .fas {
	color: var(--accent);
	line-height: 1.375rem;
}

.cards-2 .card .list-unstyled .fas.fa-times {
	margin-left: 0.1875rem;
	margin-right: 0.125rem;
	color: #777b7e;
}

.cards-2 .card .list-unstyled .media-body {
	margin-left: 0.625rem;
}

.cards-2 .card .button-wrapper {
	position: absolute;
	right: 0;
	bottom: -1.25rem;
	left: 0;
	text-align: center;
}

.cards-2 .card .btn-solid-reg:hover {
	background-color: #fff;
}

/* Best Value Label */
.cards-2 .card .label {
    position: absolute;
    top: 0;
    right: 0;
    width: 10.625rem;
    height: 10.625rem;
    overflow: hidden;
}

.cards-2 .card .label .best-value {
    position: relative;
	width: 13.75rem;
	padding: 0.3125rem 0 0.3125rem 4.125rem;
    background-color: var(--accent);
	color: #fff;
    -webkit-transform: rotate(45deg) translate3d(0, 0, 0);
    -ms-transform: rotate(45deg) translate3d(0, 0, 0);
    transform: rotate(45deg) translate3d(0, 0, 0);
}
/* end of best value label */
