/************************/
/*     06. Services     */
/************************/
.cards-1 {
	padding-top: 4rem;
	padding-bottom: 1.625rem;
	text-align: center;
}

.cards-1 h2 {
	margin-bottom: 1rem;
}

.cards-1 .card {
	max-width: 21rem;
	margin-right: auto;
	margin-bottom: 4.5rem;
	margin-left: auto;
	padding: 3.25rem 2rem 2rem 2rem;
	border: 1px solid #c4d8dc;
	border-radius: 0.5rem;
	background: transparent;
}

.cards-1 .card {
	border: none;
}
.cards-1 .card-image {
	width: 6rem;
	height: 6rem;
	margin-right: auto;
	margin-bottom: 2rem;
	margin-left: auto;
}
.card-image-container {
	width: 100%;
	padding-top: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.card-image-container .card-image {
	width: 100%;
	height: auto;
	position: absolute;
	transform: translateY(-50%);
}

.cards-1 .card-title {
  margin-top: 0.875rem;
	margin-bottom: 0.875rem;
}

.cards-1 .card-body {
	padding: 0;
}

@media (min-width: 768px) {
	
	.cards-1 .card {
		display: inline-block;
		max-width: 17.125rem;
		vertical-align: top;
	}

	.cards-1 .col-lg-12 div.card:nth-child(3n+2) {
		margin-right: 2rem;
		margin-left: 2rem;
  }
}

@media (min-width: 992px) {
	
	.cards-1 .card {
		display: inline-block;
		max-width: 17.125rem;
		vertical-align: top;
	}

	.cards-1 .col-lg-12 div.card:nth-child(3n+2) {
		margin-right: 2rem;
		margin-left: 2rem;
  }
}

@media (min-width: 1200px) {

	.cards-1 .card {
		max-width: 21rem;
	}

	.cards-1 .col-lg-12 div.card:nth-child(3n+2) {
		margin-right: 2.875rem;
		margin-left: 2.875rem;
	}

}
