/*************************/
/*     07. Details 1     */
/*************************/
.basic-1 {
	padding-top: 1.625rem;
	padding-bottom: 3.75rem;
}

.basic-1 .text-container {
	margin-bottom: 4rem;
}

.basic-1 h2 {
	margin-bottom: 1.375rem;
}

.basic-1 .btn-solid-reg {
	margin-top: 0.625rem;
}
